body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: black;
}

.pos {
  border:1px solid black;
  height: 100px;
}

.list ul {
  height: 500px;
  overflow:hidden; 
}

.h {
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.l {
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.order {
  border:1px solid black;
  height: 100px;
}

.sumCol {
  float: left;
  width: 25%;
}

.accInfo {
  float: left;
  width: 50%;
}

#orderCount {
  text-align: center;
}

#totalFee {
  text-align: center;
}

.list {
  float: left;
  width: 50%;
}

.posSide {
  float: left;
  width: 12%;
}

.posSymbol {
  float: left;
  width: 38%;
}

.leverage {
  float: left;
  width: 50%;
}

.tit {
  float: left;
  width: 20%;
}

.valt {
  float: left;
  width: 30%;
  text-align: center;
}

.orderSymbol {
  float: left;
  width: 50%;
}

.orderType {
  float: left;
  width: 50%;
}

.val {
  color: red;
}

a {
  color: #00B7FF;
}
